bilby==0.6.1
corner==2.0.1
cryptography==2.8
dqsegdb2==1.0.1
dynesty==1.0.1
emcee==2.2.1
gwdatafind==1.0.4
gwosc==0.4.3
gwpy==1.0.1
healpy==1.13.0
lalsuite==6.69
ligo-segments==1.2.0
ligotimegps==2.0.0
lscsoft-glue==2.0.0
mako==1.1.0
mpld3==0.3
pycbc==1.15.4
pyopenssl==19.0.0
soupsieve==1.9.4
